/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*INFORMAZIONI SUL BODY*/
body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*CONTAINER DELLA PAGINA*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER DELLA PAGINA*/
header {
    background-image: url(img/jumbo.png);
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
}

/*CONTENUTO DELL'HEADER*/
.navbar {
    height: 100px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar > * {
    padding: 10px;
    flex-basis: 20%;
}

.navbar-logo {
    color: white;
    display: flex;
    align-items: center;
}

.title-logo {
    font-size: 25px;
    padding-left: 10px;
}

.navbar-menu {
    flex-grow: 1;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-btn {
    text-align: right;
}

.btn-style {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    display: inline;
}

/*SEZIONE DEL JUMBOTRON*/
.jumbotron {
    height: 300px;
    padding: 30px;
}

.jumbotron .jumbo-content {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.jumbo-title {
    color: white;
    font-size: 50px;
}

.jumbo-subtitle {
    color: white;
    margin-top: 10px;
}

.jumbo-btn {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.jumbo-first-btn {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-right: 20px;
}

.jumbo-second-btn {
    color: white;
    background-color: black;
    border-radius: 15px;
    padding: 10px;
}

/*MAIN*/
section {
    height: 500px;
    padding: 50px 0;
}

.section-container {
    display: flex;
    height: 100%;
}

.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: lightgray;
}

.large-column {
    flex-basis: 60%;
    background-image: url(img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.small-column {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-title {
    font-size: 50px;
    padding: 10px;
    align-items: center;
    font-weight: bold;
}

.column-subtitle {
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    line-height: 30px;
}

.col2 {
    background-image: url(img/item2.svg);
}

.col3 {
    background-image: url(img/item3.svg);
}